<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Anasshe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg" style="background-color: #C0EEFF;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Turismo 2022</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/listarViajes}">Viaje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/listarClientes}">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{listarClientesVip}">Clientes Vip</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Gestión Viajes</h1>
                <div class="card-body">
                    <form th:action="@{/guardarViaje}" th:object="${viaje}" method="POST">
                        <div class="form-group">
                            <label>Destino</label>
                            <input type="text" name="destino" th:field="*{destino}" class="form-control"
                                placeholder="Ingrese el destino">
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Fecha del Viaje</label>
                            <input type="date" name="fecha" th:field="*{fecha}" class="form-control"
                                placeholder="Ingrese la fecha" min="2022-11-05" onfocus="this.min=new Date().toISOString().split('T')[0]">
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Modalidad</label>
                            <input type="text" name="modalidad" th:field="*{modalidad}" class="form-control"
                                placeholder="Ingrese la modalidad">
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Precio</label>
                            <input type="numbers" name="precio" th:field="*{precio}" class="form-control"
                                placeholder="Ingrese el precio">
                        </div>
                        <br />
                        <div class="form-group" style="display:flex; justify-content:center; align-items:center;">
                            <button class="btn btn-success" style="margin: 1%;">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>